:root {
--off-white: #E6E7E1 ;
--green: #838d5f ;
--dark-blue: #484F60 ;
--blue: #628295 ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: normal;
    font-family: 'playfair diplay', 'lato', 'candara', serif;
}

/* HEADER STYLING */
.header {
    padding: 20px;
    background-color: var(--green);
    color: var(--off-white);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.header h2 {
    margin: 0; 
    text-align: left; 
}

.header ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: flex-end; 
}

.header ul li a {
    margin-left: 25px;
    color: var(--off-white);
    text-decoration: none;
}


/* HOME STYLING */
 img { 
    max-height: 200px;
    margin: 10px auto;
    margin-left: 10px;
    border: 5px solid var(--dark-blue);
    padding: 5px;
    box-shadow: 0 0 20px var(--blue);
}

main, article {
    border-bottom: 2px solid gray;
    }

h1 {
    font-size: 300%;
}

h2 {
    font-size: 150%;
    }
    

/* HOME STYLING  */
.home {
    
}    

/* ABOUT ME STYLING  */
.line {
border-bottom: 1px solid black;
}

/* MY WORKS STYLING  */
/* .works {
        max-height: 200px;
        margin: 10px auto;
        margin-left: 10px;
        border: 5px solid var(--dark-blue);
        padding: 5px;
        box-shadow: 0 0 20px var(--blue);
    } */

/* CONTACT ME STYLING  */
.contact ul li a {
    font-size: 50px;
    text-decoration: none;
    color: var(--off-white);
    justify-items: center;
}


/* FOOTER STYLING  */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}