:root {
    --green: #838d5f ;
    --dark-blue: #484F60 ;
    --blue: #628295 ;
}
    
* {
    line-height: normal;
    font-family: 'playfair display', 'lato', 'candara', serif;
    margin-left: 5px;
    margin-right: 5px;
}

/* NAV BAR STYLING */
.navbar {
    padding: 10px;
    background-color: var(--green);
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: flex-start;
}
    
.navbar ul {
    list-style-type: none;
    display: flex;  
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-right: 10px;
}
    
.navbar ul li a {
    color: white;
    text-decoration: none;
}
    
figure img {
    width: 400px;
    height: auto;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 600px;
}
    
main a {
    width: 50px;
    height: 50px;
}
    
main, article {
    border-bottom: 2px solid gray;
}
    
h1 {
    font-size: 450%;
}
    
h2, h3 {
    font-size: 125%;
}
    
p {
    font-size: 100%;
}
            
article img {
    margin: 10px auto;
    margin-left: 10px;
    border: 5px solid var(--dark-blue);
    padding: 5px;
    box-shadow: 0 0 20px var(--blue);
    width: 250px;
    height: auto;
    display:inline-block;
    align-content: center;
}

.contact ul {
    list-style-type: none;
    display: flex; 
    justify-content:center; 
}
    
.contact ul li a {
    color: var(--blue);
    font-size: 125%;
    margin-right: 40px;
}
    

.footer {
    padding: 10px;
    text-align: center;
    color: var(--dark-blue);
}
    
/* ---------- RESPONSIVE MEDIA QUERIES ---------- */

@media screen and (max-width: 768px) {
   
h1 {
    font-size: 250%;
}
        
h2, h3 {
    font-size: 100%;
}
        
p {
    font-size: 75%;
}

main a {
    width: 75px;
    height: auto;
}

figure img {
    width: 250px;
    height: 250px;
    z-index: 1;
    position: absolute;
    top: 70px;
    left: 450px;
}
    
.header {
    padding: 10px;
    background-color: var(--green);
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header ul {
    list-style-type: none;
    display: flex;  
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 75%;
}
    
.header ul li a {
    margin-left: 10px;
    color: var(--off-white);
    text-decoration: none;
    font-size: 75%;
}

 
.download-button img {
    width: 100px; 
    height: auto; 
}

main, article {
    border-bottom: 2px solid gray;
}
    
.contact ul li a {
    color: var(--blue);
    font-size: 100%;
}
}